.about {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: 100;
    text-align: left;
    background-color: blue;
    height: auto;
    width: auto;
    padding: 5px;
    border:solid;
    border-width: 100px;
    border-radius: 10px;
    border-color: bisque;
    margin:5px;

   
}